.cover__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
}

@media (max-width: 767px) {
  .cover__subtitle {
    bottom: 33px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}