.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 245px auto 0;
}

@media (max-width: 1280px) {
  .cover__title {
    margin: 195px auto 0;
  }
}

@media (max-width: 1024px) {
  .cover__title {
    margin: 115px auto 0;
  }
}

@media (max-width: 767px) {
  .cover__title {
    margin: 33px auto 0;
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}